* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: serif;
    color: #FF00FF;
    margin-bottom: 10px;
}

.title {
    font-size: 18px;
    font-family: 'Lucida Sans';
}
.nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}
.nav li {
    display: inline-block;
}
.nav li a {
    color: white;
    background-color: #318f8f;
    border-radius: 2px;
    padding: 5px;
    text-decoration: none;
}

.nav li:nth-child(4) a {
    background-color: #cf0011;
}