.abso {
    background-color: red;
    width: 100%;
    height: 60px;
    font-size: 90%;
}
.abso p { font-size: 25px; } /* ésta es una mdedida Absoluta, porque el tamanaño de la fuente no cambia segun el el tamaño de la pantalla */


.em {
    font-size: 1.5em; /*  La unidad em se utiliza para hacer referencia al tamaño actual de la fuente que ha sido establecido en el navegador, que habitualmente es un valor aproximado de 16px. De esta forma, una cantidad de 1em sería este tamaño establecido por el usuario, mientras que una cantidad de 2em sería justo el doble y una cantidad de 0.5em sería justo la mitad.
    es un acrónimo de Elemento, Hereda la medida de su padre directo y lo multiplica por la cantidad que se le ponga detrás. */

}

.em div {
    font-size: 1.5em;
    
    
}

.rem {/* La unidad de medida rem es muy similar a em, con la única diferencia de que no es escalable, esto quiere decir que no depende del elemento padre, sino del elemento raíz del documento, el elemento HTML. Rem significa «Root Em«, o sea, es un em basado en la raíz. */
    font-size: 2rem;
}